body {
  background-color: #fafafa;
  color: #3b3b3b;
}

h1 {
  font-family: 'coda', cursive;
  display: inline-flex;
  font-size: 2.5vw !important;
  font-size: 18px;
}

img#logo-img {
  padding: 10px;
  width: 20vw;
  position: sticky;
  top: 60px;
}

div#header-bar {
  background-image: url(logo.jpg);
  background-size: 25%;
  background-position-x: 5px;
  background-position-y: center;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  color: #000000;
  background-color: #fafafa;
  display: block;
  position: sticky;
  top: 0px;
  left: 0px;
  width: inherit;
  padding: 10px 10px 10px 27vw;
  margin: 5px;
  border: 1px #fafafa;
  border-radius: 5px;
  height: max-content;
}

div#paragraph {
  background-color: #f0f0f0;
  color: rgb(38, 38, 38);
  padding: 10px 15px 10px 15px;
  margin: 5px;
  border-radius: 15px;
}

div#paragraph > h2 {
  font-family: 'Arvo', serif;
} 

div#p2 {
  font-family: 'Bitter', serif;
  margin: 15px;
  padding: 5px;
  color: rgb(76, 76, 76) !important;
  background-color: #ededed !important;
}

footer {
  background-color: #fafafa;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0px;
}

footer > div#footer {
  text-align: center;
  font-size: 16px;
  font-family: 'Arvo', serif;
  width: fit-content;
  padding: 15px;
  margin: 5px;
}
